<div>
    <h2 id="page-heading">
        <span jhiTranslate="highcliffApp.observation.home.title">Observations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-observation" [routerLink]="['/observation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="highcliffApp.observation.home.createLabel">
            Create new Observation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="observations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="highcliffApp.observation.status">Status</span></th>
            <th><span jhiTranslate="highcliffApp.observation.comment">Comment</span></th>
            <th><span jhiTranslate="highcliffApp.observation.floatValue">Float Value</span></th>
            <th><span jhiTranslate="highcliffApp.observation.booleanValue">Boolean Value</span></th>
            <th><span jhiTranslate="highcliffApp.observation.intValue">Int Value</span></th>
            <th><span jhiTranslate="highcliffApp.observation.stringValue">String Value</span></th>
            <th><span jhiTranslate="highcliffApp.observation.recordedWhen">Recorded When</span></th>
            <th><span jhiTranslate="highcliffApp.observation.parameter">Parameter</span></th>
            <th><span jhiTranslate="highcliffApp.observation.record">Record</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let observation of observations ;trackBy: trackId">
                <td><a [routerLink]="['/observation', observation.id, 'view' ]">{{observation.id}}</a></td>
                <td jhiTranslate="{{'highcliffApp.ObservationStatus.' + observation.status}}">{{observation.status}}</td>
                <td>{{observation.comment}}</td>
                <td>{{observation.floatValue}}</td>
                <td>{{observation.booleanValue}}</td>
                <td>{{observation.intValue}}</td>
                <td>{{observation.stringValue}}</td>
                <td>{{observation.recordedWhen | date:'medium'}}</td>
                <td>
                    <div *ngIf="observation.parameter">
                        <a [routerLink]="['../parameter', observation.parameter?.id, 'view' ]" >{{observation.parameter?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="observation.record">
                        <a [routerLink]="['../record', observation.record?.id, 'view' ]" >{{observation.record?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/observation', observation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/observation', observation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'observation', { outlets: { popup: observation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
