<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-record-heading" jhiTranslate="highcliffApp.record.home.createOrEditLabel">Create or edit a Record</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!record.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="record.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="highcliffApp.record.recordId" for="field_recordId">Record Id</label>
                    <input type="number" class="form-control" name="recordId" id="field_recordId"
                        [(ngModel)]="record.recordId" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="highcliffApp.record.userId" for="field_userId">User Id</label>
                    <select class="form-control" id="field_userId" name="userId" [(ngModel)]="record.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === record.userId?.id ? record.userId : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
