<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="record">
            <h2><span jhiTranslate="highcliffApp.record.detail.title">Record</span> {{record.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="highcliffApp.record.recordId">Record Id</span></dt>
                <dd>
                    <span>{{record.recordId}}</span>
                </dd>
                <dt><span jhiTranslate="highcliffApp.record.userId">User Id</span></dt>
                <dd>
                    {{record.userId?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/record', record.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
